<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://justpaste.it/img/7e79447ffe336c7e61f5958fe11f77da.png" alt="" srcset="">
</body>
</html>