<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://justpaste.it/img/1e3880ea5d5f8ad1a2ab1198e245df08.png" alt="" srcset="">
</body>
</html>